body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #d1d1d1;
  }
  
  .operador {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .operador input[type="text"] {
    width: 40%;
    height: 30px;
    font-size: 18px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  button {
    width: 25%;
    height: 40px;
    font-size: 24px;
    background-color: #e4d5ac;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #b1ece9;
  }
  
  .poco {
    width: 100%;
    height: 40px;
    font-size: 24px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  #display {
    font-size: 36px;
    font-weight: bold;
    text-align: right;
    padding: 10px;
  }
